@charset "UTF-8"

html {}

body {
    background-color: #e6e2d7;
    color: #000;
    font-family: 'YuMincho', 'Yu Mincho', '游明朝体', 'Yu Mincho Light', 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', "Noto Serif JP", 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'メイリオ', "Meiryo", sans-serif;
    /* font-family: "Noto Serif JP", serif; */
    width: 100%;
    /* 勝手に折り返すのを禁止する */
    word-break: keep-all;
    white-space: nowrap;
    font-size: 90%;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 100%;
    }
}


/* ここから部品集 */
/* ここから縦書きにする部品 */
/* writing-mode: vertical-rl;(縦書き)のデフォルトである、英語を90度回転させる見た目にはしない */
.text_vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/* writing-mode: vertical-rl;(縦書き)のデフォルトである、英語を90度回転させる見た目にしたい場合 */
.text_vertical_sideways {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

/* ここまで縦書きにする部品 */

/* ここから見出しの文字の装飾 */
/* h1かh2用 */

.headline_text_1 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
    .headline_text_1 {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.5rem;
        letter-spacing: 0.1em;
    }
}

/* ここまで見出しの文字の装飾 */

/* ここまで部品集 */